@model IEnumerable<PSI_WEB_APP.Models.Foreigner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="Foreignertb" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassPortNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOut)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Foreignertb").DataTable({
                "ajax": {
                    "url": "/Foreigner/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "PassPortNo" },
                    { "data": "City" },
                    { "data": "Country" },
                    { "data": "DateIn" },
                    { "data": "DateOut" }
                ],
                "language": {
                    "emptyTable": "No data Found, Please click on <b> Add New </b> Button"
                }


            });

        });

    </script>
}