@model IEnumerable<PSI_WEB_APP.Models.Suspect>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="Suspecttb" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NationalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassPortNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allegation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllegationDate)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Suspecttb").DataTable({
                "ajax": {
                    "url": "/Suspect/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "NationalID" },
                    { "data": "PassPortNo" },
                    { "data": "Allegation" },
                    { "data": "Description" },
                    { "data": "AllegationDate" }
                ],
                "language": {
                    "emptyTable": "No data Found, Please click on <b> Add New </b> Button"
                }


            });

        });

    </script>
}
